body {
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80') no-repeat center center/cover;
    background-size:cover;
    z-index: -1;
}

.glass {
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 1;
}